<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Experiments</title>
    
    <environment names="Staging,Production">
        <link rel="stylesheet" href="~/dist/styles.css" asp-append-version="true" />
    </environment>
</head>
<body>

<div id="container">
    @RenderBody()

</div>
<hr style="clear: both"/>
<footer>
    <p>&copy; 2018 - Experiments</p>
</footer>

<environment names="Development">
    <script src="~/dist/main.js"></script>
</environment>
<environment names="Staging,Production">
    <script src="~/dist/main.js" asp-append-version="true"></script>
</environment>
    @RenderSection("Scripts", required: false)
</body>
</html>
